/*  Import From Base  */
/* --------- Icon's properties in Wrapper  --------- */
/*  Import From components  */
.smallIconWrapper {
  width: 32px;
  height: 32px;
  font-size: 12px;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  margin-top: 21px;
  margin-bottom: 21px;
  border-radius: 50%;
  background-color: #51859a; }

.LineInStepBarOne {
  width: 95px;
  margin-left: 0px;
  margin-top: 23px;
  margin-bottom: 23px; }

@media (max-width: 768px) {
  .LineInStepBarOne {
    width: 100px;
    margin-top: 25px;
    margin-left: 20px; } }
@media (max-width: 425px) {
  .LineInStepBarOne {
    width: 34px;
    margin-left: 15px; } }
.LineInStepBarTwo {
  width: 95px;
  margin-left: 0px;
  margin-top: 23px;
  margin-bottom: 23px; }

@media (max-width: 768px) {
  .LineInStepBarTwo {
    width: 95px;
    margin-top: 25px;
    margin-left: 25px; } }
@media (max-width: 425px) {
  .LineInStepBarTwo {
    width: 34px;
    margin-left: 25px; } }
@media (max-width: 375px) {
  .LineInStepBarOne {
    margin-left: 8px; }

  .LineInStepBarTwo {
    margin-left: 5px; } }
.imgFirst {
  border-radius: 13px;
  width: 276px;
  height: 150px;
  margin-top: 22px; }

@media (max-width: 1024px) {
  .imgFirst {
    width: 250px; } }
.imgSecond {
  border-radius: 13px;
  width: 276px;
  height: 150px;
  margin-top: 22px;
  margin-bottom: 41px; }

@media (max-width: 1024px) {
  .imgSecond {
    width: 250px; } }
.BtnWrapper {
  margin-right: 110px;
  margin-top: 23px; }
  .BtnWrapper .btnContinue {
    width: 200px;
    height: 40px;
    color: White;
    background-color: #51859a;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500; }
    .BtnWrapper .btnContinue .arrowIcon {
      position: absolute;
      margin-left: 32px;
      margin-top: 4px; }

@media (max-width: 1024px) {
  .BtnWrapper {
    margin-right: 30px; } }
@media (max-width: 768px) {
  .btnContinue {
    margin-bottom: 20px !important;
    margin-right: 0px; } }
@media (max-width: 425px) {
  .btnContinue {
    width: 300px !important;
    height: 50px !important;
    margin-right: 20px !important;
    border-radius: 10px !important; } }
@media (max-width: 375px) {
  .btnContinue {
    margin-right: -5px !important; } }
@media (max-width: 320px) {
  .btnContinue {
    margin-right: -25px !important; } }
/*  Import From layaout  */
.zemin {
  width: 98.9%;
  height: 70px;
  background-color: #ffffff; }
  .zemin .row .kredimOlDiv {
    text-align: left; }
    .zemin .row .kredimOlDiv .KredimOlLogo {
      cursor: pointer;
      width: 180px;
      height: 36px;
      object-fit: contain;
      margin-top: 17px;
      margin-bottom: 17px;
      margin-left: 70px; }
  .zemin .row .arabacomDiv {
    text-align: right; }
    .zemin .row .arabacomDiv .Arabacom---Logo {
      cursor: pointer;
      width: 180px;
      height: 36px;
      object-fit: contain;
      margin-top: 17px;
      margin-bottom: 17px;
      margin-right: 50px; }

@media (max-width: 425px) {
  .row .kredimOlDiv {
    position: absolute; }
    .row .kredimOlDiv .KredimOlLogo {
      width: 118px !important;
      height: 24px !important;
      margin-left: 50px !important;
      margin-top: 23px !important;
      margin-bottom: 23px !important; }
  .row .arabacomDiv {
    position: absolute; }
    .row .arabacomDiv .Arabacom---Logo {
      width: 180px;
      height: 36px;
      object-fit: contain;
      margin-top: 17px;
      margin-bottom: 17px;
      width: 118px !important;
      height: 24px !important;
      margin-left: 250px !important;
      margin-top: 23px !important;
      margin-bottom: 23px !important; } }
@media (max-width: 375px) {
  .row .kredimOlDiv .KredimOlLogo {
    margin-left: 50px !important; }
  .row .arabacomDiv .Arabacom---Logo {
    margin-left: 200px !important; } }
@media (max-width: 320px) {
  .row .kredimOlDiv .KredimOlLogo {
    margin-left: 20px !important; }
  .row .arabacomDiv .Arabacom---Logo {
    margin-left: 170px !important; } }
.sectionBodyOfPage {
  background-color: #f9f9f9; }
  .sectionBodyOfPage .sectionTop {
    margin-left: 14%;
    padding-top: 29px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow {
      display: flex;
      flex-direction: row; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper {
        display: flex; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanFirstStep {
          width: 50px;
          height: 50px;
          font-size: 16px 16px;
          border-radius: 50%;
          margin-left: 20px;
          color: white;
          background-color: #51859a; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanSecondStep {
          width: 50px;
          height: 50px;
          font-size: 16px 16px;
          border-radius: 50%;
          margin-left: 20px;
          color: #717173;
          border: 1px solid #717173; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanLastStep {
          width: 50px;
          height: 50px;
          font-size: 16px 16px;
          border-radius: 50%;
          margin-left: 20px;
          color: #717173;
          border: 1px solid #717173; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconFirstText {
          color: #51859a;
          width: 112px;
          margin-left: 14px;
          margin-top: 10px;
          font-size: 18px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconSecondText {
          color: #717173;
          width: 112px;
          margin-left: 14px;
          margin-top: 10px;
          font-size: 18px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconLastText {
          color: #717173;
          width: 112px;
          margin-left: 14px;
          margin-top: 10px;
          font-size: 18px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .FirstIcon {
          padding: 17px; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .SecondIcon {
          padding: 14.5px; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .LastIcon {
          padding: 14.5px; }
  @media (max-width: 1024px) {
    .sectionBodyOfPage .sectionTop {
      margin-left: 5%;
      padding-top: 29px; } }
  @media (max-width: 768px) {
    .sectionBodyOfPage .sectionTop {
      margin-left: 5%;
      padding-top: 29px; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow {
        display: flex;
        flex-direction: row; }
        .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper {
          position: absolute;
          margin-bottom: 150px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanFirstStep {
            margin-left: 75px;
            margin-top: 0px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconFirstText {
            position: absolute;
            padding-top: 25px;
            padding-right: 5px;
            color: #51859a;
            font-size: 16px;
            margin-left: 50px;
            margin-top: 35px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanSecondStep {
            margin-left: 265px;
            margin-top: 0px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconSecondText {
            position: absolute;
            padding-top: 25px;
            padding-right: 5px;
            font-size: 16px;
            margin-left: 240px;
            margin-top: 34px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanLastStep {
            margin-left: 450px;
            margin-top: 0px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconLastText {
            position: absolute;
            padding-top: 25px;
            padding-right: 5px;
            font-size: 16px;
            margin-left: 430px;
            margin-top: 35px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .FirstIcon {
            padding: 17px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .SecondIcon {
            padding: 14.5px; }
          .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .LastIcon {
            padding: 14.5px; } }
  @media (max-width: 425px) {
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper {
      position: absolute; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanFirstStep {
        margin-left: 15px; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconFirstText {
        position: absolute;
        margin-left: 0px; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanSecondStep {
        margin-left: 140px; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconSecondText {
        position: absolute;
        margin-left: 122px;
        margin-top: 35px; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanLastStep {
        margin-left: 265px;
        margin-top: 0px; }
      .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconLastText {
        position: absolute;
        margin-left: 240px; } }
  @media (max-width: 375px) {
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanFirstStep {
      margin-left: 0px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconFirstText {
      margin-left: -15px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanSecondStep {
      margin-left: 117px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconSecondText {
      margin-left: 97px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanLastStep {
      margin-left: 228px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconLastText {
      margin-left: 213px; } }
  @media (max-width: 320px) {
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanFirstStep {
      margin-left: -10px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconFirstText {
      font-size: 14px;
      margin-left: -23px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanSecondStep {
      margin-left: 88px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconSecondText {
      font-size: 14px;
      margin-left: 74px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconsSpanLastStep {
      margin-left: 185px; }
    .sectionBodyOfPage .sectionTop .stepBarBodyRow .IconsWrapper .IconLastText {
      font-size: 14px;
      margin-left: 170px; } }
  .sectionBodyOfPage .sectionMid {
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(113, 113, 115, 0.1);
    background-color: #ffffff;
    margin-top: 36px; }
    .sectionBodyOfPage .sectionMid .FirstRow {
      margin-left: 30px;
      margin-right: 30px;
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .leftPart {
      margin-left: 33px;
      margin-right: 30px; }
      .sectionBodyOfPage .sectionMid .SecondRow .leftPart .imgInside {
        position: absolute;
        cursor: pointer;
        margin-top: 140px;
        margin-left: 10px;
        height: 20px;
        opacity: .5; }
        .sectionBodyOfPage .sectionMid .SecondRow .leftPart .imgInside img {
          width: 60px;
          border-radius: 12px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row1 {
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row2 {
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row3 {
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row4 {
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row5 {
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row6 {
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row7 {
      border-bottom: 1px solid #d3dbdd; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row1 {
      padding-bottom: 13px;
      padding-top: 13px;
      padding-bottom: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo1 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo1 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row2 {
      padding-bottom: 13px;
      padding-top: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo2 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo2 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row3 {
      padding-bottom: 13px;
      padding-top: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo3 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo3 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row4 {
      padding-bottom: 13px;
      padding-top: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo4 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo4 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row5 {
      padding-bottom: 13px;
      padding-top: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo5 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo5 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row6 {
      padding-bottom: 13px;
      padding-top: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo6 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo6 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row7 {
      padding-bottom: 13px;
      padding-top: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo7 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo7 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .row8 {
      padding-bottom: 13px;
      padding-top: 13px; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .leftInfo8 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #222831; }
    .sectionBodyOfPage .sectionMid .SecondRow .rightPart .rightInfo8 {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      font-weight: bold;
      text-align: right; }

@media (max-width: 768px) {
  .test {
    margin-top: 100px !important; }

  .rightPart {
    margin-left: 30px; } }
@media (max-width: 425px) {
  .rightPart {
    padding-left: 0px !important; }

  .leftPart .imgFirst {
    margin-left: 30px; }
  .leftPart .imgSecond {
    margin-left: 30px; }

  .imgInside img {
    margin-left: 30px; } }
@media (max-width: 375px) {
  .contTest {
    padding-left: 0px !important; }

  .leftPart .imgFirst {
    margin-left: 0px; }
  .leftPart .imgSecond {
    margin-left: 0px; }

  .imgInside img {
    margin-left: 10px; } }
@media (max-width: 320px) {
  .leftPart .imgFirst {
    width: 236px;
    margin-left: -22px; }
  .leftPart .imgSecond {
    width: 236px;
    margin-left: -22px; }

  .imgInside img {
    margin-left: -15px; } }
.footerRow {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; }
  .footerRow .aljLogo {
    cursor: pointer;
    margin-left: 70px; }
  .footerRow .googleLogo {
    cursor: pointer;
    margin-right: 8px; }
  .footerRow .appleLogo {
    cursor: pointer;
    margin-right: 70px; }

@media (max-width: 1024px) {
  .appleLogo {
    margin-right: 10px !important; } }
@media (max-width: 425px) {
  .footerRow {
    height: 120px; }
    .footerRow .aljLogo {
      position: absolute;
      margin-left: 150px; }
    .footerRow .googleLogo {
      margin-top: 50px;
      margin-left: 90px; }
    .footerRow .appleLogo {
      margin-top: 50px; } }
@media (max-width: 375px) {
  .footerRow .aljLogo {
    margin-left: 120px; }
  .footerRow .googleLogo {
    margin-left: 65px; }
  .footerRow .appleLogo {
    margin-top: 50px; } }
@media (max-width: 320px) {
  .footerRow .aljLogo {
    margin-left: 90px; }
  .footerRow .googleLogo {
    margin-left: 40px; } }
/*  Import From pages  */

/*# sourceMappingURL=main.css.map */
