.footerRow{
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    
    .aljLogo{
        margin-left: 70px;
    }
    .googleLogo{
        margin-right: 8px;
    }
    .appleLogo{
       margin-right: 70px;
    }

    @media (max-width: 1024px) {
        .appleLogo{
            margin-right: 10px;
         }
      }     
}


  