

/* --------- Icon's properties in Wrapper  --------- */

// padding Size of Icons 
$paddingSize:17px;

// Background Color Of Icons And Button
$backColorFirstStep:#51859a;
$backColorAnotherSteps:#717173;
