

/* --------- Icon's properties in Wrapper  --------- */

// padding Size of Icons 
$paddingSize:17px;

// Background Color Of Icons And Button
$backMainColorOfIcon:#51859a;
$backColorFirstStep:#51859a;
$backColorAnotherSteps:#717173;


$cursor : pointer;

// fontsize of 320px

$smallFontSize :20px;
