.zemin{
  width: 98.9%; //1440px
  height: 70px;
  background-color: #ffffff;
 
 .row{
    .kredimOlDiv{

        text-align: left;

           .KredimOlLogo {
          
            @include mixinForImagesOnTop;

            // my style
            margin-left: 70px;
            
          }
        }

     .arabacomDiv{
        text-align: right;
        
          .Arabacom---Logo{ 
            @include mixinForImagesOnTop;
    
            // my style
            margin-right: 50px;
          
          }
        }
    }   
}

@media (max-width: 425px) {
  .row{
    .kredimOlDiv{

      position: absolute;

           .KredimOlLogo {
           width: 118px !important;
           height: 24px !important;
           margin-left: 50px !important; //23
           margin-top: 23px !important;
           margin-bottom: 23px !important;
          }
        }

     .arabacomDiv{
      position: absolute;
        
          .Arabacom---Logo{ 
            @include mixinForImagesOnTop;
            width: 118px !important;
            height: 24px !important;
            margin-left: 250px !important; //23
            margin-top: 23px !important;
            margin-bottom: 23px !important;
          
          }
        }
    }   
}
