.zemin{
  width: 98.9%; //1440px
  height: 70px;
  background-color: #ffffff;
 
 .row{
    .kredimOlDiv{
        
        text-align: left;

           .KredimOlLogo {
            cursor: $cursor;
            @include mixinForImagesOnTop;

            // my style
            margin-left: 70px;
            
          }
        }

     .arabacomDiv{
      
        text-align: right;
        
          .Arabacom---Logo{ 
            cursor: $cursor;
            @include mixinForImagesOnTop;
    
            // my style
            margin-right: 50px;
          
          }
        }
    }   
}

@media (max-width: 425px) {
  .row{
    .kredimOlDiv{

      position: absolute;

           .KredimOlLogo {
         
            @include mixinForLogo;
           margin-left: 50px !important; //23
          
          }
        }

     .arabacomDiv{
      position: absolute;
        
          .Arabacom---Logo{ 
            
            @include mixinForLogo;

            margin-left: 250px !important; //23
           
          
          }
        }
    }   
}


@media (max-width: 375px) {
  .row{
    .kredimOlDiv{
           .KredimOlLogo {
              margin-left: 50px !important; //23
          }
        }
     .arabacomDiv{
          .Arabacom---Logo{ 
            margin-left: 200px !important; //23
          }
        }
    }   
}

@media (max-width: 320px) {
  .row{
    .kredimOlDiv{
           .KredimOlLogo {
              margin-left: 20px !important; //23
          }
        }
     .arabacomDiv{
          .Arabacom---Logo{ 
            margin-left: 170px !important; //23
          }
        }
    }   
}

