.sectionBodyOfPage{
    //margin-left: 328px;
    //width: 785px;
   .sectionTop{
       margin-left: 14%; //328px;
       margin-top: 30px;
       .stepBarBodyRow{
           display: flex;

           .IconsWrapper{
            display:flex ;
            
              .IconsSpanFirstStep{
                  @include mixinForSteps;
                  color: white;
                  background-color: $backColorFirstStep; 
                  
                  
              }
              .IconsSpanSecondStep{
                 
                  @include mixinForSteps;
                  color: $backColorAnotherSteps;
                  border: 1px solid $backColorAnotherSteps ;
                  
              }
              .IconsSpanLastStep{
                  @include mixinForSteps;
                  color: $backColorAnotherSteps;
                  border: 1px solid $backColorAnotherSteps ;
                  
              }
              
              .IconFirstText{
      
                  color: $backColorFirstStep;
                  @include mixinForStepText;
              }
              .IconSecondText{
      
                  color: $backColorAnotherSteps;
                  @include mixinForStepText;
      
              }
              .IconLastText{
      
                  color: $backColorAnotherSteps;
                  @include mixinForStepText;
      
              }
              .LineInStepBar{
              
                  width: 95px;
      
                  margin : 
                  {
                  left:0px; //20
                  top: 23px; //26
                  bottom: 23px;
                  }
              }
              
              .FirstIcon{
                  padding: $paddingSize;
              }
              .SecondIcon{
                  padding: 14.5px;
              }
              .LastIcon{
                  padding: 14.5px;
              }
          }
       }
    
   }
   
}