.sectionBodyOfPage{
    //margin-left: 328px;
    //width: 785px;
    background-color: #f9f9f9;
   .sectionTop{
       margin-left: 14%; //328px;
       padding-top: 29px;
       .stepBarBodyRow{
           display: flex;

           .IconsWrapper{
            display:flex ;
            
              .IconsSpanFirstStep{
                  @include mixinForSteps;
                  color: white;
                  background-color: $backColorFirstStep;    
              }
              .IconsSpanSecondStep{
                 
                  @include mixinForSteps;
                  color: $backColorAnotherSteps;
                  border: 1px solid $backColorAnotherSteps ;
                  
              }
              .IconsSpanLastStep{
                  @include mixinForSteps;
                  color: $backColorAnotherSteps;
                  border: 1px solid $backColorAnotherSteps ;
              }
              
              .IconFirstText{
      
                  color: $backColorFirstStep;
                  @include mixinForStepText;
              }
              .IconSecondText{
      
                  color: $backColorAnotherSteps;
                  @include mixinForStepText;
      
              }
              .IconLastText{
      
                  color: $backColorAnotherSteps;
                  @include mixinForStepText;
      
              }
              
              
              .FirstIcon{
                  padding: $paddingSize;
              }
              .SecondIcon{
                  padding: 14.5px;
              }
              .LastIcon{
                  padding: 14.5px;
              }
          }
       }
    
   }
   .sectionMid{
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(113, 113, 115, 0.1);
    background-color: #ffffff;
    margin-top: 36px;
    .FirstRow{
        margin : {
            left: 30px;
            right: 30px;
        }

        border-bottom: 1px solid #d3dbdd;
    }

    .SecondRow{
        @for $counter from 1 to 8{
           .row#{$counter}{
            border-bottom: 1px solid #d3dbdd;
            
        }
        }
        @for $counter from 1 through 8{
            .row#{$counter}{
                padding : {
                    bottom: 13px;
                    top:13px;
                }
    
                   @if( $counter == 1){
                        padding-bottom: 13px;
                   }
            }
            .leftInfo#{$counter}{
                font-family: 'Roboto Slab', serif;
                font-size: 14px;
                color: #222831;
            }
            .rightInfo#{$counter}{
                font-family: 'Roboto Slab', serif;
                font-size: 14px;
                text-align: right;
                font-weight: bold;
            }
        }
    }
   }
   
}